body {
	font-family: Helvetica;
  	padding: 10px;
  	padding-bottom: 0px;
  	background-color: black;
  }

#map {
  height: 650px;
}

#bindPopup{

	color:black;
	font-family: helvetica;
}

h1{
	color: white;
	font-size: 35px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: Helvetica;
	font-weight: normal;
}

h2{
	color: gray;
	font-size: 25px;
	font-family: Helvetica;
	font-weight: normal;

}

p{

	font-size: 20px;
	padding-top: 0px;
}

